$main-color: #012a77
$font: "Exo 2"
$hiddenContentListPadding: 30px

.main-color
	color: $main-color

body
	font-size: 17px
	line-height: 27px
	font-family: $font
	color: $main-color

button
	border: 0
	background-color: transparent
	outline: none

input
	outline: none

button, 
button:active, 
button:focus 
	outline: none


a,a:visited,a:hover,a:focus 
	text-decoration: none

h1,h2,h3,h4,h5,h6
	padding: 0
	margin: 0

.container
	max-width: 1340px

.content-container
	max-width: 1140px
	width: 100%
	padding: 0 15px
	margin: 0 auto
	box-sizing: border-box

	h3
		font-size: 27px
		font-weight: normal
		margin-bottom: 5px
		margin-top: 40px
		padding: 0
		color: $main-color

	h4
		font-weight: 400
		font-size: 17px
		line-height: 22px
		font-family: $font
		color: $main-color

	.text
		margin: 0 0 15px 0
		font-size: 16px
		line-height: 27px
		color: $main-color

	@media(max-width: 576px)
		h3
			font-size: 23px

.top-menu
	padding: 15px 0

.left-side 
	display: flex
	justify-content: space-between

	.top-menu-link 
		padding: 0 10px

	.top-menu-link:first-child 
		padding-left: 0

	.home
		font-size: 24px

.header-line
	.logo-wrapper
		position: relative
		overflow: hidden
		height: 40px
		.logo
			display: block
			position: absolute
			height: 40px
			top: 50%
			transform: translateY(-50%)

.logo-wrapper
	width: 300px

.menu-fixed.active
		.logo-wrapper
			width: 40px

@media(max-width:991px)
	.logo-wrapper
		width: 40px

.top-menu-link
	color: $main-color
	font-size: 16px

.main-menu
	padding: 0 100px 0 30px
	position: relative

	@media(max-width: 767px)
		padding: 0

	.nav 
		flex-direction: row

		.top-menu-item
			@media(max-width: 767px)
				display: none

		.top-menu-item.active
			@media(max-width: 767px)
				display: block
		
		.top-menu-link
			padding: 0 10px 7px 10px
			border-bottom: 1px solid transparent

			@media(max-width: 767px)
				padding: 0

		.top-menu-link:hover
			border-color: $main-color

		.main-burger-menu
			cursor: pointer
			width: 22px
			height: 22px
			border-radius: 5px
			border: 1px solid $main-color
			transform: translateY(1px)
			position: relative

			@media(max-width: 767px)
				display: none

			.arrow
				top: 50%
				left: 50%
				transform: translate3d(-50%,-50%,0) rotate(45deg)

	.nav:before
		color: $main-color
		display: block
		content: ''
		width: 5px
		height: 5px
		border: solid black
		border-width: 0 1px 1px 0
		padding: 3px
		position: absolute
		top: 50%
		left: -30px
		transform: translate3d(0,-50%,0) rotate(135deg)

	.nav:after
		color: $main-color
		display: block
		content: ''
		width: 5px
		height: 5px
		border: solid black
		border-width: 0 1px 1px 0
		padding: 3px
		position: absolute
		top: 50%
		right: -30px
		transform: translate3d(0,-50%,0) rotate(-45deg)


	.closed-items
		position: relative

		.closed-items-nav
			max-height:0px
			width: 160px
			overflow: hidden
			transition: all 0.5s linear

			background-color: #fff
			border: 0px solid $main-color

			position: absolute
			left: -130px

			.top-menu-link
				padding: 0
				border: 0

			.top-menu-item
				padding: 5px 0 5px 8px
				width: 100%
				border-bottom: 1px solid $main-color

		.closed-items-nav.active
			border: 1px solid $main-color
			max-height: 200px

.closed-items-nav
	z-index: 1000

.arrow
	border: solid $main-color
	border-width: 0 1px 1px 0
	display: inline-block
	padding: 3px

	position: absolute

.language 
	position: relative

	.choose-lang
		position: absolute
		right: 0

		width: 150px
		max-height: 0px
		overflow: hidden
		transition: all 0.5s linear
		background-color: #fff

		.choose-lang-item
			display: flex
			justify-content: space-between

	.choose-lang.active
		max-height: 300px
	
	.choose-lang-button
		position: relative
		top: 50%
		transform: translateY(-50%)

		width: 40px

		.arrow
			left: 100%
			top: 50%
			transform: translate3d(-50%,-50%,0) rotate(45deg)

		.arrow.active
			left: 100%
			top: 50%
			transform: translate3d(-50%,-50%,0) rotate(-135deg)

		.country-flag
			display: block
			width: 22px
			height: auto

.right-side 
	// margin-left: 130px

.actions
	.actions-item
		font-size: 24px
		padding: 0 15px
		i
			color: $main-color

	.actions-item:last-child
		padding-right: 0

.header-line
	padding: 10px 0
	background-color: $main-color
	color: #fff

	.university-name h3,h4
		font-family: $font
		font-size: 17px

	.text-right h3
		font-size: 17px
		line-height: 60px

	.text-right
		@media(max-width: 991px)
			display: none

	.nav-toggle 
		cursor: pointer
		display: none
		position: relative
		@media(max-width: 991px)
			display: block

		.menu-text
			padding-left: 50px

		.nav-toggle-button

			span
				font-size: 0
				background-color: #fff

				display: block
				height: 3px
				width: 40px

				position: absolute
				top: 50%
				transform: translate3d(0,-50%,0)

			span:before
				content: ''
				display: block
				height: 3px
				width: 40px

				background-color: #fff

				position: absolute
				top: 10px


			span:after
				content: ''
				display: block
				height: 3px
				width: 40px

				background-color: #fff

				position: absolute
				top: -10px

.admissions-nav-wrapper
	width: 100%
	background-color: rgba(1, 42, 119, 0.5)
	position: relative

	.admissions-nav
		.social-links
			display: none
	
	.admissions-nav-item
		padding: 0 10px

		.admissions-nav-link
			cursor: pointer
			text-transform: uppercase
			display: inline-block
			line-height: 45px
			font-size: 14px
			text-decoration: none
			color: #fefefe
	.admissions-nav-item:hover
		background-color: #fff
		.admissions-nav-link
			color: #07d

@media(min-width: 992px)
	.admissions-nav-item:hover
		.hidden-content
			display: flex

@media(min-width: 992px)
	.search
		display: none

	.nav-offset-left
		position: relative

	.admissions-nav-item
		position: relative
	
		.hidden-content
			z-index: 2

			width: 100vw
			display: none
			overflow-x: auto
			overflow-y: auto

			position: absolute
			top: 100%
			max-height: 400px

			background-color: #fff
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

			.hidden-content-list
				width: 25%		
				position: relative
				padding: $hiddenContentListPadding 0

				.hidden-content-link
					font-size: 13px
					line-height: 20px
					color: $main-color

				.hidden-content-item
					padding-top: 5px
					padding-bottom: 5px
					padding-right: 30px

				.hidden-content-item:hover
					background-color: rgba(1, 42, 119, 0.5)

				.title
					padding-bottom: 20px
					font-size: 17px
					line-height: 27px
					cursor: pointer
					font-weight: bold

				.title:hover
					color: #07d

				.nav
					flex-direction: column

			.hidden-content-list:not(:first-child)
				padding-left: 15px

			.hidden-content-list:not(:last-child)
				padding-right: 15px

			.hidden-content-list:not(:nth-child(4n + 1)):before
				display: inline-block
				content: ''
				height: calc(100% - 60px)
				width: 1px
				background-color: black
				position: absolute
				top: 50%
				transform: translateY(-50%)
				left: 0

@media(max-width: 991px)

	.university-name
		display: none

	.admissions-nav-wrapper
		background-color: #fff
		padding: 15px 0 40px 0
		z-index: 1000

		.content-container
			margin: 0
			padding: 0

		.admissions-nav
			padding: 0 0 50px 0
			max-height: 100vh	
			overflow-y: auto
			overflow-x: hidden

			.social-links
				display: flex
				justify-content: flex-start
				padding-left: 15px
				padding-top: 20px

				.social-links-item
					background-color: #00549f
					width: 40px
					height: 40px
					position: relative
					
					.social-link i
						font-size: 20px
						color: #fff
						position: absolute
						top: 50%
						left: 50%
						transform: translate3d(-50%,-50%,0)

				.social-links-item:not(:first-child)
					margin-left: 10px

	.admissions-nav-wrapper.active
		right: 60%

	.search
		display: block
		position: relative

		input
			border: 1px solid #00549f !important
			font: inherit
			font-size: 16px
			line-height: 50px
			outline: none
			display: block
			width: calc(100% - 95px)
			min-height: 50px
			max-height: 50px
			height: 50px
			margin: 0 0 0 15px
			padding: 0 10px
			background-color: white

		.close-menu
			cursor: pointer
			font-size: 0
			background-color: transparent

			display: block
			height: 40px
			width: 40px

			position: absolute
			top: 50%
			right: 40px
			transform: translate3d(20px,-50%,0)

		.close-menu:before
			content: ''
			display: block
			height: 2px
			width: 40px

			background-color: $main-color

			position: absolute
			top: 50%
			transform: translate3d(0,-50%,0) rotate(45deg)

		.close-menu:after
			content: ''
			display: block
			height: 2px
			width: 40px

			background-color: $main-color

			position: absolute
			top: 50%
			transform: translate3d(0,-50%,0) rotate(-45deg)

	.hidden-content-link
		display: block

	.admissions-nav-item.active 
		.hidden-content
			display: block

		.hidden-content-list.active
			display: flex
			flex-direction: column
			justify-content: flex-start

		.hidden-content-list.active 
			.nav
				display: block

	.admissions-nav-item 

		.hidden-content
			display: none

		.hidden-content-list 
			padding: 10px 0
			.nav
				display: none
				padding-left: 15px
				.hidden-content-item
					padding-left: 0
					padding-right: 0

		.hidden-content-list.be-student
			display: none

	.admissions-nav-wrapper
		width: 60%
		height: 100vh

		transition: all .2s linear

		position: fixed
		top: 0
		right: 0
		transform: translate3d(100%,0,0)

		.hidden-content
			.nav
				.hidden-content-item
					padding: 10px 0

		.nav
			flex-direction: column

			.admissions-nav-item
				padding: 0

			.admissions-nav-item:after
				display: block
				content: ''
				width: 100%
				height: 1px
				background-color: #f0f0f0
				margin-top: 10px

			.admissions-nav-link
				display: block

			.hidden-content-link
				padding-left: 45px
				line-height: 26px
				font-size: 15px
				color: black
				font-weight: 300

			.admissions-nav-link.first-step-link
				padding-top: 10px
				padding-bottom: 10px
				padding-left: 15px
				padding-right: 60px
				font-weight: 600
				color: black
				font-size: 16px

				position: relative

			.second-step-link.hidden-content-link 
				padding-left: 30px
				padding-top: 10px
				padding-bottom: 10px
				cursor: pointer
				position: relative

			.second-step-link .title
				width: calc(100% - 60px)
				font-weight: 600
				font-size: 16px
				color: black

			.admissions-nav-link.first-step-link:after, .admissions-nav-link.first-step-link:before,.second-step-link:after,.second-step-link:before
				display: block
				content: ''
				width: 1px
				height: 20px
				background-color: $main-color

				position: absolute
				top: 50%
				right: 40px

			.admissions-nav-link.first-step-link:after,.second-step-link:after
				display: block
				transform: translate3d(0,-50%,0) rotate(0deg)

			.admissions-nav-item.active .admissions-nav-link.first-step-link:after,.hidden-content-list.active .second-step-link:after
				display: none

			.admissions-nav-link.first-step-link:before,.second-step-link:before
				transform: translate3d(0,-50%,0) rotate(90deg)

			.admissions-nav-link
				color: black

@media(max-width: 575px)
	.admissions-nav-wrapper
		width: 80%

	.admissions-nav-wrapper.active
		right: 80%

.main
	padding: 60px 0
	.content-title
		.title
			font-size: 40px
			text-transform: uppercase
			font-weight: bold
			line-height: 42px
			color: $main-color
			padding-bottom: 30px
		@media(max-width: 992px)
			.title
				font-size: 21px
				line-height: 25px

.news-item
	width: 100%

	.news-illustration img
		display: block
		max-width: 150px
		max-height: 150px

		border-radius: 5px

		float: left
		margin-right: 20px

	.news-description 
		padding: 0
		margin: 0
		font-family: $font
		font-size: 17px
		line-height: 27px
		color: $main-color

		.news-title-link
			font-size: 24px
			font-weight: 300
			color: $main-color
			text-decoration: none

			.news-title
				margin-bottom: 25px
				font-size: 24px
				line-height: 27px
				font-weight: 500

	.classes
		margin: 15px 0

	.date
		margin: 15px 0

.news-item:after
	display: block
	content: ''
	width: 100%
	height: 1px
	background-color: $main-color
	margin-top: 40px
	margin-bottom: 30px

.form-wrapper
	display: block

	.form
		padding: 20px 15px
		border: 1px solid $main-color
		border-radius: 5px
		.form-title
			font-size: 24px
			margin-bottom: 20px
			font-weight: 400
			line-height: 30px

	.form-item:not(:last-child)
		margin-bottom: 25px

	input[type=checkbox]
		display: none

	label
		font-size: 17px
		line-height: 1.5
		color: #012a77
		padding-left: 16px

	label:before
		display: inline-block
		content: ''
		width: 16px
		height: 16px
		border: 1px solid $main-color
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07) inset
		border-radius: 3px
		vertical-align: middle
		margin: -3px 10px 0 -10px

	input[type=checkbox]:checked + label:before
		background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIC00NiA0MTcuODEzMzMgNDE3IiB3aWR0aD0iNTEycHgiPjxwYXRoIGQ9Im0xNTkuOTg4MjgxIDMxOC41ODIwMzFjLTMuOTg4MjgxIDQuMDExNzE5LTkuNDI5Njg3IDYuMjUtMTUuMDgyMDMxIDYuMjVzLTExLjA5Mzc1LTIuMjM4MjgxLTE1LjA4MjAzMS02LjI1bC0xMjAuNDQ5MjE5LTEyMC40Njg3NWMtMTIuNS0xMi41LTEyLjUtMzIuNzY5NTMxIDAtNDUuMjQ2MDkzbDE1LjA4MjAzMS0xNS4wODU5MzhjMTIuNTAzOTA3LTEyLjUgMzIuNzUtMTIuNSA0NS4yNSAwbDc1LjE5OTIxOSA3NS4yMDMxMjUgMjAzLjE5OTIxOS0yMDMuMjAzMTI1YzEyLjUwMzkwNi0xMi41IDMyLjc2OTUzMS0xMi41IDQ1LjI1IDBsMTUuMDgyMDMxIDE1LjA4NTkzOGMxMi41IDEyLjUgMTIuNSAzMi43NjU2MjQgMCA0NS4yNDYwOTN6bTAgMCIgZmlsbD0iIzIxOTZmMyIvPjwvc3ZnPgo)
		background-size: 100%
		max-width: 256px
		max-height: 256px

	.form-title-subtitle
		font-weight: 300
		font-size: 17px
		line-height: 1.5
		color: #012a77
		margin-bottom: 5px

	.form-item-input
		margin-bottom: 12px
		padding: 0 15px
		height: 50px
		line-height: 48px
		width: 100%
		box-sizing: border-box
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07) inset
		border: 1px solid #e6e6e6
		border-radius: 5px
		color: #80848c

	.form-item-area
		margin-bottom: 12px
		padding: 10px 15px
		height: 125px
		line-height: 27px
		width: 100%
		box-sizing: border-box
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07) inset
		border: 1px solid #e6e6e6
		border-radius: 5px
		color: #80848c
		resize: none

	.new-event-classes
		.get-all
			color: #07d
			text-decoration: none
			cursor: pointer
			text-transform: uppercase
			display: inline-block
			margin-bottom: 25px
			margin-top: 10px

		.get-all:hover
			text-decoration: underline
			
		.new-event-classes-item
			line-height: 1.5

	.form-confirm
		.btn
			height: 50px
			line-height: 50px
			min-height: 50px
			min-width: 160px
			padding: 0 10px
			text-transform: uppercase
			font-weight: bold
			font-size: 16px

	.new-event-classes ,.new-event-type
		.form-title:after
			display: block
			content: ''
			width: 100%
			height: 1px
			background-color: $main-color
			margin-top: 5px

	.new-event-classes-item input,.new-event-classes-item label,.new-event-type-item input,.new-event-type-item label
		cursor: pointer

@media(max-width: 991px)
	.form-wrapper
		display: none

	.news
		padding-left: 45px

.footer-top
	background-color: rgba(68, 96, 128, 0.8)
	color: #162e59
	padding-top: 25px
	padding-bottom: 20px

	.info-title
		font-weight: bold
		font-size: 17px
		line-height: 27px

	.logo
		display: block
		margin-right: 15px
		@media(max-width: 767px)
			margin: 0 auto 10px auto

	.logo 
		img
			display: block
			width: 60px
			height: auto

	.age-limit
		@media(max-width: 767px)
			margin-top: 25px
		img
			max-width: 80px
			max-height: 80px

.footer-bottom
	background-color: #13274d
	color: #e0e0e0

	.footer-menu-wrapper
		padding: 20px 0 20px 0

	.footer-menu-link
		font-size: 14px
		color: #e0e0e0

	.footer-menu-link:hover
		text-decoration: underline

	.copyright
		padding-bottom: 15px
		line-height: 50px
		font-size: 14px
		color: #018eff

	@media(max-width:330px)
		.copyright
			font-size: 12px

.arrow-right,.arrow-left
	display: none

@media(max-width: 992px)
	.footer-menu-item
		display: none

	.footer-menu-item.active
		display: block

	.footer-bottom
		.nav
			position: relative

		.arrow-left,.arrow-right
			width: 3px
			height: 3px
			border: solid #e0e0e0
			border-width: 0 1px 1px 0
			display: inline-block
			padding: 3px

		.arrow-right
			margin-left: 60px
			transform: rotate(-45deg)

		.arrow-left
			margin-right: 60px
			transform: rotate(135deg)


.menu-fixed.active
	display: flex
	align-items: center
	flex-direction: row
	flex-wrap: no-wrap
	background-color: #012a77

	.admissions-nav-item:hover .admissions-nav-link.first-step-link
		color: #07d

	@media(max-width: 991px)
		.admissions-nav-item:hover .admissions-nav-link.first-step-link
			color: #000

.menu-fixed.active
	width: 100%
	position: fixed
	top: 0
	z-index: 1050

	@media(max-width:991px)
		.header-line
			width: 100%

	.fixed-content-container
		max-width: none

	.text-right
		display: none

	.university-name
		display: none

	@media(min-width:992px)
		.admissions-nav-item
			margin: 0 10px

.lob-conf-content
	.login
		text-transform: uppercase
		margin: 20px 0
	.login:hover
		text-decoration: underline
	.subtitle
		margin: 25px 0 20px 0
	.contacts
		margin: 25px 0 20px 0

.accordion-wrapper
	margin-top: 25px
	.accordion-header
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		cursor: pointer

		.accordion-title
			font-weight: 600
			font-size: 16px
			line-height: 22px
			font-family: $font
			color: $main-color

		.icon
			display: inline-block
			width: 11px
			height: 11px
			line-height: 14px
			margin-left: 4px
			margin-right: 6px
			cursor: pointer
			padding-left: 20px
			background-image: url("assets/img/plus.png")
			background-repeat: no-repeat
		.accordion-item.active
			.icon
				background-image: url("assets/img/minus.png")

	.accordion-content
		display: none
		border: 1px solid darkblue 
		font-size: 16px
		padding: 6px 10px 20px 10px
		line-height: 1.6
	.accordion-item
		margin: 10px 0
	.accordion-item.active
		.accordion-content
			display: block

	.mpo-sub-nav
		margin: 0

.mpo-scroller
	margin-top: 25px
	li
		font-size: 21px
		line-height: 27px
		cursor: pointer
		margin-bottom: 10px

.mpo-nav
	.mpo-sub-nav
		list-style-type: disc
		margin: 15px 0
		li
			margin-bottom: 15px
	a:hover
		text-decoration: underline

.back-to-top
	background-color: $main-color
	width: 50px
	height: 50px
	cursor: pointer

	position: -webkit-sticky
	position: sticky
	bottom: 50px
	left: calc(100% - 100px)
	
	@media(max-width: 768px)
		bottom: 10px
		left: calc(100% - 60px)

	.arrow
		border-color: #fff
		border-width: 0 3px 3px 0
		display: inline-block
		padding: 10px
		top: 50%
		left: 50%

		transform: translate3d(-50%,calc(-50% + 8px),0) rotate(-135deg)

.uchebnye-posobia-content
	h4
		line-height: 27px
